<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title>Document</title>
</head>
<body>

  <form action="/devskills/<%= devskill.id %>?_method=PUT" method="POST">
    <input type="text" name="skillName" value="<%= devskill.skillName %>">
    <button id="create" type="submit">Update</button>
  </form>
  
</body>
</html>