body {
  padding: 50px;
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
  font-size: 15px;
}

#customBody {
  display: flex;
  justify-content: center;
  align-items: center;
}

li {
  margin: 12px 0;
}

div {
  height: 40%;
  width: 50%;
  background-color: beige;
  text-align: center;
  padding: 12px 10px;
}

#skill {
  display: inline;
}

#add {
  display: inline;
  margin-left: 1%;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
}

input {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#create {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
}
